.project-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;

}

.project-article {
    max-width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #CCE3DE;
}

.project-article:hover {
    background-color: #A4C3B2;
}

.project-article a {
    font-size: 11px;
    color: #2e3f38;
}

.project-details {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.project-details p {
    text-align: justify;
}

.project-image {
    border-radius: 10px;
    padding: 5px;
  }

#stack-div {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

#stack {
    margin-right: 2.5px;
    margin-left: 2.5px;
    padding: 0;
    background-color: #CCE3DE;
    border-radius: 50%;
    width: 1vw;
}


@media (min-width: 360px){
    .project-image {
        width: 50vw;
      }

    #stack-div {
        width: 50vw;
    }

    #stack {
        width: 2.5vw;
        padding: 0;
    }

    .project-article{
        width: 50vw;
     }

}

@media (min-height: 300px) {
    .project-section{
        height: 70vh;
    }
}